Repository gunjanjp/gunj-operator, changes with the owners that .github/CODEOWNERS names for each.
All owners: @gunjanjp, @operator-team, @api-team, @devops-team, @security-team, @frontend-team, @ux-team, @docs-team, @qa-team, @performance-team, @database-team

feat(webhooks): add webhook configuration and infrastructure for admission and conversion webhooks
  config/crd/kustomization.yaml
  config/crd/patches/conversion_webhook_patch.yaml
  config/crd/patches/webhook_in_observabilityplatform.yaml
  config/manager/health-config.yaml
  config/webhook/certificate.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/service.yaml
  config/webhook/webhookcainjection_patch.yaml
Owners: @gunjanjp, @operator-team, @devops-team

feat(webhooks): implement admission webhooks for resource validation and mutation - Phase 2.3.1
  api/v1beta1/alertingrule_webhook.go
  api/v1beta1/dashboard_webhook.go
  api/v1beta1/lokiconfig_webhook.go
  api/v1beta1/observabilityplatform_webhook.go
  api/v1beta1/observabilityplatform_webhook_test.go
  api/v1beta1/tempoconfig_webhook.go
  docs/webhooks/mutating-webhooks.md
  examples/mutating-webhook-examples.yaml
  internal/deprecation/webhook.go
  internal/webhook/v1beta1/observabilityplatform_webhook.go
  internal/webhook/v1beta1/observabilityplatform_webhook_test.go
  internal/webhooks/observabilityplatform_webhook.go
Owners: @gunjanjp, @operator-team, @api-team, @docs-team

feat(conversion): implement v1alpha1 to v1beta1 conversion webhooks and migration tools - Phase 2.3.2
  api/v1alpha1/conversion.go
  api/v1alpha1/observabilityplatform_conversion.go
  api/v1alpha1/observabilityplatform_conversion_test.go
  api/v1beta1/observabilityplatform_conversion_webhook.go
  api/v1beta1/observabilityplatform_conversion_webhook_enhanced.go
  docs/data-preservation.md
  docs/migration/api-version-migration-guide.md
  docs/migration/field-mapping-reference.md
  docs/migration/migration-helpers-guide.md
  docs/migration/migration-tools.md
  internal/webhook/conversion/Makefile
  internal/webhook/conversion/README.md
  internal/webhook/conversion/conversion_integration_test.go
  internal/webhook/conversion/conversion_performance_test.go
  internal/webhook/conversion/conversion_webhook.go
  internal/webhook/conversion/conversion_webhook_test.go
  internal/webhook/conversion/data_preservation_test.go
  internal/webhook/conversion/migration_helpers_test.go
  internal/webhook/conversion/suite_test.go
  internal/webhook/conversion/test/COMPLETION_STATUS.md
  internal/webhook/conversion/validation_test.go
  internal/webhooks/conversion_webhook.go
  internal/webhooks/conversion_webhook_test.go
  pkg/conversion/automation.go
  pkg/conversion/migration_manager.go
  pkg/conversion/optimizer.go
  pkg/conversion/schema_evolution.go
  pkg/conversion/status_reporter.go
  pkg/conversion/utils.go
  pkg/conversion/validator.go
Owners: @gunjanjp, @operator-team, @api-team, @docs-team, @devops-team

docs(migration): add comprehensive breaking changes documentation for v1alpha1 to v1beta1 migration - Phase 2.3.2
  docs/migration/README.md
  docs/migration/breaking-changes-v2.md
  docs/migration/breaking-changes.md
  docs/migration/field-deprecation-timeline.md
  docs/migration/migration-examples.md
  docs/migration/migration-troubleshooting-guide.md
  docs/migration/migration-troubleshooting.md
  docs/migration/upgrade-procedures-best-practices.md
  docs/migration/user-friendly-migration-guide.md
  docs/migration/version-compatibility-matrix.md
Owners: @gunjanjp, @docs-team

test(webhooks): add webhook tests and progress documentation - Phase 2.3
  api/v1beta1/test/observabilityplatform_webhook_test.go
  docs/webhooks.md
  internal/api/handlers/webhook.go
  progress/phase-2.3-webhook-development/MT-2.3.1.2-mutating-webhooks-COMPLETED.md
Owners: @operator-team, @docs-team, @gunjanjp, @api-team

.github/CODEOWNERS:

# Code Owners for Gunj Operator
# This file defines code ownership for automatic review requests
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Default owners for everything in the repo
* @gunjanjp

# Operator Core
/operator/ @gunjanjp @operator-team
/controllers/ @gunjanjp @operator-team
/api/v*/ @gunjanjp @operator-team @api-team
/config/ @gunjanjp @operator-team @devops-team

# API Server
/internal/api/ @gunjanjp @api-team
/pkg/api/ @gunjanjp @api-team
/internal/graphql/ @api-team
/internal/handlers/ @api-team
/internal/middleware/ @api-team @security-team

# UI/Frontend
/ui/ @frontend-team
/ui/src/components/ @frontend-team @ux-team
/ui/src/api/ @frontend-team @api-team
/ui/public/ @frontend-team @ux-team
*.tsx @frontend-team
*.ts @frontend-team
*.css @frontend-team @ux-team

# Documentation
/docs/ @docs-team @gunjanjp
*.md @docs-team
/examples/ @docs-team @operator-team
README.md @gunjanjp @docs-team
CONTRIBUTING.md @gunjanjp @docs-team

# CI/CD and DevOps
/.github/ @devops-team @gunjanjp
/.github/workflows/ @devops-team @gunjanjp
/hack/ @devops-team @operator-team
/build/ @devops-team
/scripts/ @devops-team
Dockerfile* @devops-team @security-team
docker-compose*.yml @devops-team
Makefile @devops-team @gunjanjp
.dockerignore @devops-team

# Testing
/test/ @gunjanjp @operator-team
/test/e2e/ @operator-team @qa-team
/test/integration/ @operator-team @api-team
/test/performance/ @operator-team @performance-team
*_test.go @operator-team
*.test.ts @frontend-team
*.test.tsx @frontend-team

# Security
/internal/auth/ @security-team @gunjanjp
/internal/rbac/ @security-team @gunjanjp
/pkg/security/ @security-team
/config/rbac/ @security-team @operator-team
SECURITY.md @security-team @gunjanjp

# Helm Charts
/charts/ @devops-team @operator-team
/charts/*/templates/ @devops-team @operator-team
/charts/*/values.yaml @devops-team @gunjanjp

# Dependencies
go.mod @gunjanjp @operator-team
go.sum @gunjanjp @operator-team
package.json @frontend-team @gunjanjp
package-lock.json @frontend-team @gunjanjp
yarn.lock @frontend-team @gunjanjp

# Legal and Compliance
LICENSE @gunjanjp
NOTICE @gunjanjp
CODE_OF_CONDUCT.md @gunjanjp
.github/SECURITY.md @security-team @gunjanjp

# Project Configuration
.gitignore @gunjanjp
.gitattributes @gunjanjp
.editorconfig @gunjanjp
PROJECT @gunjanjp

# Special Files Requiring Multiple Approvals
# Breaking changes to APIs need multiple teams
/api/v*/types.go @gunjanjp @operator-team @api-team
/pkg/api/openapi.yaml @api-team @docs-team @frontend-team

# Performance critical paths
/controllers/reconcile.go @operator-team @performance-team
/internal/cache/ @operator-team @performance-team

# Data migration and schema changes
/internal/migrations/ @gunjanjp @operator-team @database-team
