Repository gunjanjp/gunj-operator, changes with the labels that .github/labeler.yml gives for each.
All labels: component/operator, component/api, component/ui, component/cli, component/helm, type/docs, type/test, type/ci, type/build, type/config, lang/go, lang/typescript, lang/javascript, lang/yaml, area/security, area/performance, area/observability

feat(ci): implement comprehensive CI/CD notification system [MT-1.3.2.6]
  .github/artifact-storage/README.md
  .github/artifact-storage/storage-config.yml
  .github/notification-config.yml
  .github/notification-secrets-template.env
  .github/workflows/MT-1.3.2.6-COMPLETION.md
  .github/workflows/NOTIFICATIONS.md
  .github/workflows/artifact-caching.yml
  .github/workflows/artifact-demo.yml
  .github/workflows/artifact-monitoring.yml
  .github/workflows/artifact-retention.yml
  .github/workflows/build-notifications.yml
  .github/workflows/ci-cd-pipeline.yml
  .github/workflows/ci.yml
  .github/workflows/deploy.yml
  .github/workflows/issue-on-failure.yml
  .github/workflows/notification-config.yaml
  .github/workflows/notification-manager.yml
  .github/workflows/notifications.yml
  .github/workflows/pr-validation.yml
  .github/workflows/release-notifications.yml
  .github/workflows/scripts/setup-notifications.sh
  .github/workflows/security-notifications.yml
  config/monitoring/notification-dashboard.yaml
  docs/notification-status.html
  docs/notifications.md
  docs/quick-setup-notifications.md
  scripts/notification-manager.sh
  scripts/setup-artifact-storage.sh
  setup-directories.ps1
Labels: component/operator, type/docs, type/ci, type/config, lang/yaml

feat(webhooks): add webhook configuration and infrastructure for admission and conversion webhooks
  config/crd/kustomization.yaml
  config/crd/patches/conversion_webhook_patch.yaml
  config/crd/patches/webhook_in_observabilityplatform.yaml
  config/manager/health-config.yaml
  config/webhook/certificate.yaml
  config/webhook/kustomization.yaml
  config/webhook/kustomizeconfig.yaml
  config/webhook/service.yaml
  config/webhook/webhookcainjection_patch.yaml
Labels: component/operator, type/config, lang/yaml

feat(webhooks): implement admission webhooks for resource validation and mutation - Phase 2.3.1
  api/v1beta1/alertingrule_webhook.go
  api/v1beta1/dashboard_webhook.go
  api/v1beta1/lokiconfig_webhook.go
  api/v1beta1/observabilityplatform_webhook.go
  api/v1beta1/observabilityplatform_webhook_test.go
  api/v1beta1/tempoconfig_webhook.go
  docs/webhooks/mutating-webhooks.md
  examples/mutating-webhook-examples.yaml
  internal/deprecation/webhook.go
  internal/webhook/v1beta1/observabilityplatform_webhook.go
  internal/webhook/v1beta1/observabilityplatform_webhook_test.go
  internal/webhooks/observabilityplatform_webhook.go
Labels: component/operator, type/docs, type/test, type/config, lang/go, lang/yaml

feat(conversion): implement v1alpha1 to v1beta1 conversion webhooks and migration tools - Phase 2.3.2
  api/v1alpha1/conversion.go
  api/v1alpha1/observabilityplatform_conversion.go
  api/v1alpha1/observabilityplatform_conversion_test.go
  api/v1beta1/observabilityplatform_conversion_webhook.go
  api/v1beta1/observabilityplatform_conversion_webhook_enhanced.go
  docs/data-preservation.md
  docs/migration/api-version-migration-guide.md
  docs/migration/field-mapping-reference.md
  docs/migration/migration-helpers-guide.md
  docs/migration/migration-tools.md
  internal/webhook/conversion/Makefile
  internal/webhook/conversion/README.md
  internal/webhook/conversion/conversion_integration_test.go
  internal/webhook/conversion/conversion_performance_test.go
  internal/webhook/conversion/conversion_webhook.go
  internal/webhook/conversion/conversion_webhook_test.go
  internal/webhook/conversion/data_preservation_test.go
  internal/webhook/conversion/migration_helpers_test.go
  internal/webhook/conversion/suite_test.go
  internal/webhook/conversion/test/COMPLETION_STATUS.md
  internal/webhook/conversion/validation_test.go
  internal/webhooks/conversion_webhook.go
  internal/webhooks/conversion_webhook_test.go
  pkg/conversion/automation.go
  pkg/conversion/migration_manager.go
  pkg/conversion/optimizer.go
  pkg/conversion/schema_evolution.go
  pkg/conversion/status_reporter.go
  pkg/conversion/utils.go
  pkg/conversion/validator.go
Labels: component/operator, type/docs, type/test, lang/go

docs(migration): add comprehensive breaking changes documentation for v1alpha1 to v1beta1 migration - Phase 2.3.2
  docs/migration/README.md
  docs/migration/breaking-changes-v2.md
  docs/migration/breaking-changes.md
  docs/migration/field-deprecation-timeline.md
  docs/migration/migration-examples.md
  docs/migration/migration-troubleshooting-guide.md
  docs/migration/migration-troubleshooting.md
  docs/migration/upgrade-procedures-best-practices.md
  docs/migration/user-friendly-migration-guide.md
  docs/migration/version-compatibility-matrix.md
Labels: type/docs

test(webhooks): add webhook tests and progress documentation - Phase 2.3
  api/v1beta1/test/observabilityplatform_webhook_test.go
  docs/webhooks.md
  internal/api/handlers/webhook.go
  progress/phase-2.3-webhook-development/MT-2.3.1.2-mutating-webhooks-COMPLETED.md
Labels: component/operator, component/api, type/docs, type/test, lang/go

.github/labeler.yml:

# Labeler configuration for automatic PR labeling

# Component labels
component/operator:
  - api/**/*
  - controllers/**/*
  - internal/managers/**/*
  - internal/webhooks/**/*
  - config/**/*

component/api:
  - internal/api/**/*
  - cmd/api-server/**/*

component/ui:
  - ui/**/*

component/cli:
  - cmd/cli/**/*

component/helm:
  - charts/**/*

# Type labels
type/docs:
  - docs/**/*
  - '**/*.md'

type/test:
  - test/**/*
  - '**/*_test.go'
  - '**/testdata/**/*'

type/ci:
  - .github/**/*
  - .gitlab-ci.yml
  - .circleci/**/*

type/build:
  - Dockerfile*
  - Makefile
  - go.mod
  - go.sum
  - package.json
  - package-lock.json

type/config:
  - config/**/*
  - '**/*.yaml'
  - '**/*.yml'
  - '**/*.json'
  - '**/*.toml'

# Language labels
lang/go:
  - '**/*.go'
  - go.mod
  - go.sum

lang/typescript:
  - '**/*.ts'
  - '**/*.tsx'

lang/javascript:
  - '**/*.js'
  - '**/*.jsx'

lang/yaml:
  - '**/*.yaml'
  - '**/*.yml'

# Area labels
area/security:
  - SECURITY.md
  - internal/api/middleware/auth.go
  - internal/api/middleware/rbac.go

area/performance:
  - '**/*_bench_test.go'
  - test/performance/**/*

area/observability:
  - internal/metrics/**/*
  - config/prometheus/**/*

# Priority labels (manual)
# priority/critical
# priority/high
# priority/medium
# priority/low

# Status labels (manual)
# status/blocked
# status/in-progress
# status/needs-review
# status/ready-to-merge
